<html>
  <head>
    <title>Log in to your Norland Account</title>
    {{> styles}}
  </head>
  <body>
    <div class="norland-msg">
      <div class="norland-space-top">
        {{#if firstName}}
        <p>Dear {{firstName}},</p>
        {{/if}}
        <p>To access your Norland Account please, click the button below.</p>
      </div>
      <a href={{returnUrl}} class="norland-button norland-space-top" target="_blank" rel="noopener noreferrer">Login</a>
      <p>If you experience any issues logging in to your account, please contact the Norland Agency.</p>
    </div>
  </body>
</html>