<html>
  <head>
    <title>Invitation to Norland</title>
    {{> styles}}
  </head>
  <body>
    <div class="norland-msg">
      <div class="norland-space-top">
        <p>You have requested to login to Norland.</p>
      </div>
      <a href={{returnUrl}} class="norland-button norland-space-top">Login</a>
      {{> footer}}
    </div>
  </body>
</html>