<html>
  <head>
    <title>New Direct Message</title>
    {{> styles}}
  </head>
  <body>
    <div class="norland-msg">
      <div class="norland-space-top">
        <p>Dear {{firstName}}</p>
        <p>You have a new direct message. Please log in to the Norland Portal to read it. </p>
      </div>
      <a href={{returnUrl}} class="norland-button norland-space-top">Read new message</a>
      <p>Many thanks</p>
      <p>Norland Agency</p>
    </div>
  </body>
</html>