<html>
  <head>
    <title>Invitation to Norland</title>
    {{> styles}}
  </head>
  <body>
    <div class="norland-msg">
      <div class="norland-space-top">
        <p>You have been invited to Norland. We just need you to verify your email address by clicking the button below.</p>
      </div>
      <a href={{returnUrl}} class="norland-button norland-space-top" target="_blank" rel="noopener noreferrer">Complete my account</a>
      {{> footer}}
    </div>
  </body>
</html>