<footer class="norland-space-top">
  <p>Kind regards,</p>
  <div class="norland-footer-id-block">
    <img src="https://www.rocketmakers.com/_next/static/media/logo.aa18c158.svg" alt="norland" />
      <div class="norland-footer">Norland Support</div>
  </div>
</footer>