<footer class="norland-space-top">
  <p>Kind regards,</p>
  <div class="norland-footer-id-block">
    <img src="https://rocketmakers-website-next.cdn.prismic.io/rocketmakers-website-next/ZiwJRN3JpQ5PTNwH_icon.svg" alt="norland" />
      <div class="norland-footer">Norland Support</div>
  </div>
</footer>