<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 20px 0;">
  <tr>
    <td align="center" style="font-size: 12px; color: #9D897D; text-align: center; line-height: 1.5;">
      <p style="margin: 0; font-size: 12px; color: #9D897D;">Norland Agency</p>
      <p style="margin: 0; font-size: 12px; color: #9D897D;">39-41 Upper Oldfield Park, Bath BA2 3LB</p>
    </td>
  </tr>
</table>