<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 20px 0;">
  <tr>
    <td align="center" style="font-size: 12px; color: #9D897D; text-align: center; line-height: 1.5;">
      <p style="margin: 0; font-size: 12px; color: #9D897D;">Need assistance? Please <a href="https://www.norland.ac.uk/contact-norland/">contact us</a> with any enquiries</p>
      <p style="margin: 10px 0 0 0; font-size: 12px; color: #9D897D;">Norland College</p>
      <p style="margin: 0; font-size: 12px; color: #9D897D;">York Place, London Road, Bath, BA1 6AE</p>
    </td>
  </tr>
</table>