<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 20px 0;">
  <tr>
    <td align="center">
      <img src="https://norlandstaging.blob.core.windows.net/public/logo-email.png" alt="Norland" style="display: block; width: 56px; height: 66px; margin: 0 auto;" />
    </td>
  </tr>
</table>